/*
css for my personal website.
Author: Adrianna Tan
Date Updated: 10/10/2016*/

body, html {
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
    font-family: 'Droid Sans', sans-serif;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}


    #view{
        text-align: center;
         color: white;
        padding: 2%;
    }
    
    #viewbutton a{
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        color: white;
        background-color: #7E8AA2; 
        display: inline-block;
    }

#ulnav il:visited{
    color: black;
}


#ulnav li:hover{
    color: lightgray;
}


#ulnav h1:hover{
    color: black;
}

@media (max-width: 416px) { 
    


.parallax1 {
    z-index: -1;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55%;  
    }        
   
.adri{
        font-size: 4.5vw;
        display: inline-block;
        padding-left: 3%;
        left: 0;
        text-align: left;
        width: 100%;
        float: left;
        position: absolute;
        padding-right: 3%;
        letter-spacing: 1.2px;
    }

    #navbar{
        position: fixed;
        width: 100%;
        text-align: center;
        background: white;
    }
    
    .nav {
    font-size: 4.5vw;
    padding: 0;
    display: inline-block;
    position: relative;
    float: right;
    padding-right: 2%;
    }

    #ulnav{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style:none;
    letter-spacing: 1.2px;
    vertical-align: middle;
    }
    
    #home{
        background-color: transparent;
        display: inline-block;
        color: darkgray;
        width: 100%;
    }
    
    #coordinaid .parallax1 {
    background-image: url(img/sent.png);
}

    .caption1 {
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      color: white;
    /*  background-color: rgba(0,0,0,.2)*/
    }    

    .caption1 span.border {
      width: 80%;
      background-color: #111;
      color: #fff;
      font-size: 3.5vmin;
      letter-spacing:3px;
    }

    #footer ul{
    padding: 0;
    list-style: none;
    text-align: center;
    }

    #socialicons li{
    font-size: 4.5vw;
    display: inline-block;
    padding: 1%; 
    }
    
/*    BEGIN DESCRIPTION*/
    
    #video{
        width: 100%;
        height: 60%;
    }
    
    #wrap{
    width: 100%;
        
    }
    
    #summary{
        display: inline-block;
        text-align: center;
    }
    
    #about{
        width: 80%;
        position: relative;
        text-align: left;
        display: inline-block;
    }
    
    #process{
        display: inline-block;
        width: 80%;
        position: relative;
        text-align: left;
    }    
    
    #description h1{
        padding-top: 5%;
        display: none;
        text-align: center;
    }

    .description{

        line-height: 1.5;
        display: inline-block;
        text-align: left;
        width: 70%;
    }
    
    .descriptionbullets{
        list-style: circle;
        text-align: left;
        display: inline-block;
        width: 65%;
        padding-bottom: 1%;
        line-height: 1.5;
    }
    
    #prototype{
        padding-top: 5%;
        width: 90%;
        padding-bottom: 5%;
    }
    
    #img{
        text-align: center;
    }
    
    #center{
        padding-bottom: 5%;
        padding-top:8%;
        width: 100%;
        text-align: center;
        display: inline-block; 
    }
    

    #center ul{
        padding: 0;
        margin: 0;
        width: 80%;
        text-align: left;
        position: relative;
        display: inline-block;
        list-style:none;
        
    }
    #details{
        width: 100%;
        line-height: 1.5;
        padding-bottom: 2%;
    }
    
    #summary h2{
        width: 50%;
        color: #7E8AA2;
    }
    
    #description h1{
        color: #7E8AA2;
    }

    .iconprototype{
        width: 100%;
        display: inline-block;
        padding-bottom: 5%;
    }
    
    #video{
        display: none;
        padding-top: 4%;
        width: 100%;
        height: 60%;
    }

  #sketch1, #sketch2{
        margin: 0;
        padding-top: 4%;
        width: 100%;
        text-align: center;
        display: inline-block;
    }

}

@media (min-width: 417px) and (max-width: 768px) {
    
.parallax1 {
    z-index: -1;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55%;  
    }        
   
.adri{
        padding-left: 3%;
        left: 0;
        text-align: left;
        width: 100%;
        float: left;
        position: absolute;
        padding-right: 2%;
        letter-spacing: 1px;
    }
    
    
    #navbar{
        position: fixed;
        width: 100%;
        text-align: center;
        background: white;
    }
    
    .nav {
    font-size: 2.7vw;
    padding: 0;
    display: inline-block;
    position: relative;
    float: right;
    padding-right: 2%;
    }

    #ulnav{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style:none;
    letter-spacing: 1.2px;
    vertical-align: middle;
    }
    
    #home{
        background-color: transparent;
        display: inline-block;
        color: darkgray;
        width: 100%;
    }
    
    #coordinaid .parallax1 {
    background-image: url(img/sent.png);
}

    .caption1 {
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      color: white;
    /*  background-color: rgba(0,0,0,.2)*/
    }    

    .caption1 span.border {
      background-color: #111;
      color: #fff;
      font-size: 2.5vmin;
      letter-spacing:3px;
    }

    #footer ul{
    padding: 0;
    list-style: none;
    text-align: center;
    }

    #socialicons li{
    font-size: 2.5vw; 
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;   
    }
    
/*    BEGIN DESCRIPTION*/
    
    #text{
        background-color: white;
    }
    
    #video{
        width: 90%;
/*        height: 60%;*/
    }
    
    #wrap{
    width: 100%;
        
    }
    
    #summary{
        width: 100%;
        display: inline-block;
        text-align: center;
        background-color: white;
    }
    
    #about{
        width: 80%;
        position: relative;
        text-align: left;
        display: inline-block;
    }
    
    #process{
        display: inline-block;
        width: 80%;
        position: relative;
        text-align: left;
    }    
    
    #description h1{
        padding-top: 5%;
        display: none;
        text-align: center;
    }

    .description{
        line-height: 1.5;
        display: inline-block;
        text-align: left;
        width: 80%;
    }
    
    .descriptionbullets{
        list-style: circle;
        text-align: left;
        display: inline-block;
        width: 65%;
        padding-bottom: 1%;
                line-height: 1.5;
    }
    
    #prototype{
        padding-top: 5%;
        width: 90%;
        padding-bottom: 5%;
    }
    
    #img{
        text-align: center;
    }
    
    #center{
        padding-bottom: 5%;
        padding-top:8%;
        width: 100%;
        text-align: center;
        display: inline-block; 
    }
    

    #center ul{
        padding: 0;
        margin: 0;
        width: 80%;
        text-align: left;
        position: relative;
        display: inline-block;
        list-style:none;
        
    }
    #details{
        width: 100%;
        line-height: 1.5;
        padding-bottom: 2%;
    }
    
    #summary h2{
        width: 50%;
        color: #7E8AA2;
    }
    
    #description h1{
        color: #7E8AA2;
    }
    
    #sketch1, #sketch2{
        margin: 0;
        padding-top: 4%;
        width: 80%;
        text-align: center;
        display: inline-block;
    }
    
    .iconprototype{
        width: 80%;
        display: inline-block;
        padding-bottom: 5%;
    }
    
    #video{
        padding-top: 4%;
        width: 100%;
        height: 60%;
    }

}
    
@media (min-width: 769px) {  
    
.parallax1 {
    z-index: -1;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;  
    }        
  
.adri{
        padding-left: 3%;
        left: 0;
        text-align: left;
        width: 100%;
        float: left;
        position: absolute;
        padding-right: 3%;
        letter-spacing: 1.2px;
    }
    
    #navbar{
        position: fixed;
        height: 10%;
        width: 100%;
        text-align: center;
        background: white;
    }
    
    .nav {

    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    float: right;
    padding-right: 2%;
    }


    #ulnav{
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: 1.2px;
    vertical-align: middle;
    }
    
    #coordinaid .parallax1 {
    background-image: url(img/sent.png);
}

    .caption1 {
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      color: white;
/*      background-color: rgba(0,0,0,.2)*/
    }    

    .caption1 span.border {
      background-color: #111;
      color: #fff;
      font-size: 15px;
      letter-spacing: 10px;
    }
    
    #footer ul{
    list-style: none;
    text-align: center;
    }

    #socialicons li{
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%; 
    }
    
/*    BEGIN DESCRIPTION*/
    
    #video{
        width: 100%;
        height: 70%;
    }
    
    #wrap{
    width: 100%;
        
    }
    
    #summary{
        display: inline-block;
        text-align: center;
    }
    
    #about{
        width: 80%;
        position: relative;
        text-align: left;
        display: inline-block;
    }
    
    #process{
        display: inline-block;
        width: 80%;
        position: relative;
        text-align: left;
    }    
    
    #description h1{
        padding-top: 5%;
        font-size: 3vw;
        text-align: center;
    }

    .description{
        line-height: 1.5;
        display: inline-block;
        text-align: left;
        width: 50%;
    }
    
    .descriptionbullets{
        list-style: circle;
        text-align: left;
        display: inline-block;
        width: 50%;
        padding-bottom: 1%;
                line-height: 1.5;
    }
    
    #prototype{
        padding-top: 5%;
        width: 60%;
        padding-bottom: 5%;
    }
    
    #img{
        text-align: center;
    }
    
    #center{
        width: 100%;
        text-align: center;
        display: inline-block; 
    }
    
    #center ul{
        text-align: left;
        position: relative;
        display: inline-block;
        list-style:none;
        
    }
    
    #details{
        line-height: 1.5;
        padding-bottom: 2%;
    }
    
    #summary h2{
        padding-top: 2%;
        width: 50%;
        color: #7E8AA2;
    }
    
    #description h1{
        color: #7E8AA2;
    }
    
    
    .iconprototype{
        width: 50%;
        display: inline-block;
        padding-bottom: 5%;
    }
    
    text{
    background-color: white;
    }

   #sketch1, #sketch2{
        margin: 0;
        padding-top: 4%;
        width: 40%;
        text-align: center;
        float: left;
        display: inline-block;
    }
    
}
