body,
html {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: 0px;
  overflow: visible;
  font-family: "Droid Sans", "sans-serif";
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: lightslategray;
}

#ulnav a:link {
  text-decoration: none;
  color: black;
}

#ulnav a:visited {
  color: black;
}

#ulnav il:visited {
  color: black;
}

#ulnav li:hover {
  color: lightslategray;
}

#ulnav h1:hover {
  color: black;
}

#socialIcons a:link {
  text-decoration: none;
  color: black;
}

#socialIcons a:visited {
  color: black;
}

#socialIcons il:visited {
  color: black;
}

#socialIcons li:hover {
  color: lightslategray;
}

#socialIcons h1:hover {
  color: black;
}

#socialIcons a:link {
  text-decoration: none;
  color: black;
}

.buttons a:visited {
  color: white;
}

.buttons il:visited {
  color: white;
}

.buttons li:hover {
  color: lightslategray;
}

.buttons h1:hover {
  color: white;
}

.buttons a:link {
  text-decoration: none;
  color: white;
}

.buttons {
  border-radius: 5px;
}

#button5 {
  background: #e3b900;
}

#button1 {
  background: #ff3300;
}

#button2 {
  background: #4e5534;
}

#button3 {
  background: #d64524;
}

#button4 {
  background: orange;
}

#button6 {
  background: #013349;
}

.lunchbreak .parallax {
  background-image: url(./img/DSC_6572.jpg);
}

.photowebsite .parallax {
  background-image: url(./img/photoport.jpg);
}

.nighthawks .parallax {
  background-image: url(./img/nighthawks.jpg);
}

.twittersentiment .parallax1 {
  background-image: url(./img/sent.jpg);
}

.threesixtyfive .parallax {
  background-image: url(./img/threesixtyfive.png);
}

.bluffs .parallax {
  background-image: url(./img/photoscene3.png);
}



#navbar {
  position: fixed;
  height: 10%;
  width: 100%;
  display: flex;
  text-align: center;
  background: white;
  align-items: center;
}

#ulnav {
  width: 100%;
  margin-right: 10px;
  letter-spacing: 1.2px;
  display: flex;
  justify-content: flex-end;
}

#ulnav .nav{
  margin-right: 20px;
  list-style: none;
}

.adri {
  margin-left: 3%;
  text-align: left;
  width: 100%;
  letter-spacing: 1.2px;
}

@media (max-width: 416px) {
  .buttons {
    display: inline-block;
    padding: 5%;
    font-weight: 600;
    letter-spacing: 2;
  }

  .parallax1 {
    z-index: -1;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55%;
  }

  .parallax {
    z-index: -1;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
  }

  #navbar {
    position: fixed;
    width: 100%;
    text-align: center;
    background: white;
  }

  #home {
    background: transparent;
    display: inline-block;
    color: darkgray;
    width: 100%;
  }

  .caption1 {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption span.border,
  .caption1 span.border {
    width: 80%;
    background: #111;
    color: #fff;
    font-size: 3.5vmin;
    letter-spacing: 3px;
  }

  #footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
  }

  #socialicons li {
    font-size: 4.5vw;
    display: inline-block;
    padding: 1%;
  }
}

@media (min-width: 417px) and (max-width: 768px) {
  .buttons {
    display: inline-block;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    font-weight: 600;
    letter-spacing: 2;
  }

  .parallax1 {
    z-index: -1;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55%;
  }

  .parallax {
    z-index: -1;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
  }

  #navbar {
    position: fixed;
    width: 100%;
    text-align: center;
    background: white;
  }

  #home {
    background: transparent;
    display: inline-block;
    color: darkgray;
    width: 100%;
  }

  .caption1 {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption span.border,
  .caption1 span.border {
    background: #111;
    color: #fff;
    font-size: 2.5vmin;
    letter-spacing: 3px;
  }

  #footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
  }

  #socialicons li {
    font-size: 3vw;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media (min-width: 769px) {
  .buttons {
    display: inline-block;
    position: relative;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    font-weight: 600;
    letter-spacing: 2;
  }

  .parallax1 {
    z-index: -1;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .parallax {
    z-index: -1;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  #navbar {
    position: fixed;
    height: 10%;
    width: 100%;
    text-align: center;
    background: white;
  }

  #home {
    background: transparent;
    display: inline-block;
    color: darkgray;
    width: 100%;
  }

  .lunchbreak .parallax {
    background-image: url(./img/DSC_6572.jpg);
  }

  .photowebsite .parallax {
    background-image: url(./img/photoport.jpg);
  }

  .twittersentiment .parallax1 {
    background-image: url(./img/sent.jpg);
  }

  .bluffs .parallax {
    background-image: url(./img/photoscene3.png);
  }

  .caption1 {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption span.border,
  .caption1 span.border {
    background: #111;
    color: #fff;
    font-size: 15px;
    letter-spacing: 7px;
  }

  #footer ul {
    list-style: none;
    text-align: center;
  }

  #socialicons li {
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
  }
}
